<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {{ docs.page.meta.title }}
    </title>
    <meta name="description" content="{{ docs.page.meta.description }}">
    <meta name="keywords" content="{{ docs.page.meta.keywords }}">
    <meta name="author" content="{{ docs.page.meta.author }}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    
    {{{ pageContent }}}

    <script src="/js/jquery.js"></script>
    <script src="/js/admataz_svg_logo.js"></script>
    <script src="/js/admataz_blocks.js"></script>
  </body>
</html>