<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {{ docs.page.meta.title }}
    </title>
    <meta name="description" content="{{ docs.page.meta.description }}">
    <meta name="keywords" content="{{ docs.page.meta.keywords }}">
    <meta name="author" content="{{ docs.page.meta.author }}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">
    <script src="//use.typekit.net/ubc1oxm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    
    {{{ pageContent }}}

{{! fixed height: ylimit * scale + scale * scale }}
{{{{raw-helper}}}}
   <script type="text/template" id="blocks-template">

  <div style="position:absolute; top: {{scrollTop}}px; height:100%; width:100%" >
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" id="blocks-svg" viewbox="0 0 {{xlimit * 4}} {{ylimit}}" preserveaspectratio="xMinYMin meet">
 
 {{#each blocks}} 
  <g transform="matrix({{scale}} 0 0 {{scale}} {{xpos + xoffset*randomizer}} {{ypos + yoffset*randomizer}})" fill="{{fillColour}}" stroke="{{strokeColour}}" stroke-width="{{strokeWidth}}">
  <polygon points="2,2 0,1 2,0 4,1" fill="{{fillColourTop}}" class="cubeTop"></polygon>
  <polygon points="2,2 2,4 0,3 0,1" fill="{{fillColourFrontLeft}}" class="cubeFrontLeft"></polygon>
  <polygon points="2,2 4,1 4,3 2,4" fill="{{fillColourFrontRight}}" class="cubeFrontRight"></polygon></g>
  {{/each}}
  
  </svg>
  </div>
  </script>
{{{{/raw-helper}}}}

    <script src="/js/jquery.js"></script>
    <script src="/js/admataz_svg_logo.js"></script>
    <script src='/js/ractive.js'></script>
    <script src="/js/admataz_blocks_ractive.js"></script>
    <script src="/js/client_list.js"></script>
  </body>
</html>