      <a href="/"><div class="svg-logo">admataz</div></a>
      <div id="blocks"></div>
      <div class="container">
        <div id="content-main">
        
        {{{docs.page.html}}}
        {{{customBuild.prerendered.article_list}}}
        </div>
        <div class="footer">
                 {{{docs.about.html}}}
                 <div id="site-links">
        {{{docs.site-links.html}}}
      </div>
         {{{docs.contact.html}}}
        </div>
      </div>

