    <h1><a href="/"><div class="svg-logo">admataz</div></a></h1>
    <div id="blocks"></div>
    <div class="container one-col">
      <div id="content-main">

        <div id="services-detail">
        {{{docs.services.html}}}
        </div>
        

        {{{docs.page.html}}}

        <div id="info-x" class="cf">
            {{{ elements.clientList }}}
        </div>


        <div id="site-links">
        {{{docs.site-links.html}}}
      </div>


        <div id="contact-detail">
        {{{docs.contact.html}}}
      </div>


      </div>
    </div>
    <div class="container">

     <div class="footer">
    {{!-- {{{ docs.site-about.html}}} --}}
      </div>
    </div>
