
      <a href="/"><div class="svg-logo">admataz</div></a>

      <div id="blocks"></div>

      <div class="container">
        <ul class="breadcrumb cf"><li><a href="/">admataz.com</a></li><li><a href="/case-studies">case studies</a></li><li>{{docs.page.meta.title}}</ul>
        <div id="content-main" class="case-study">
        {{{docs.page.html}}}
        </div>
        <div class="footer">
                {{{docs.about.html}}}
                <div id="site-links">
        {{{docs.site-links.html}}}
      </div>
         {{{docs.contact.html}}}
        </div>
      </div>

