    <h1><a href="/"><div class="svg-logo">admataz</div></a></h1>
    <div id="blocks"></div>
    <div class="container one-col">
      <div id="content-main">
          {{{docs.page.html}}}
          
        <div id="info-x" class="cf">
            {{{ elements.clientList }}}
        </div>
        {{{customBuild.prerendered.article_list}}}
        

        {{!-- {{{docs.about.html}}}
        {{{docs.creative-communication.html}}}
        {{{docs.contact.html}}} --}}
      </div>
    </div>
    <div class="container">

     <div class="footer">
    {{!-- {{{ docs.site-about.html}}} --}}
      </div>
    </div>
