    <h1><a href="/"><div class="svg-logo">admataz</div></a></h1>
    <div id="blocks"></div>
    <div class="container one-col">
      <div id="content-main">
        
          {{{docs.page.html}}}
          
        <div id="info-x" class="cf">
            {{{ elements.clientList }}}
        </div>

        {{{docs.about.html}}}
        {{{docs.contact.html}}}
        {{{docs.hireadmataz.html}}}
        {{{docs.creativecommunication.html}}}
       
      </div>
    </div>
    <div class="container">

     <div class="footer">
    {{!-- {{{ docs.site-about.html}}} --}}
      </div>
    </div>
