{{#each docs}}
<div class="article">{{meta.path}}
  <h3><a href='/articles/{{meta.path}}'>{{meta.title}}</a></h3>
  <div class="datestamp">{{meta.date}}</div>
  <p>{{meta.description}}</p>
</div>

{{/each}}